<!DOCTYPE html>
<html>
    <head>
        <title>Suggestion sent!</title>
        <style>
            * {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                color: #777;
            }

            body {
                margin: 200px;
            }

            div:first-child {
                margin-bottom: 20px;
                font-size: 20px;
            }

            div {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>All good!</div>
        <div>Your suggestion has been sent.</div>
        <div><a href="./">Go back</a></div>
    </body>
</html>